<li class="row">
		<span class="label col-2">{{id}}</span> 
		<span class="label col-7">{{burger_name}}</span>

	{{#if devoured}}
		<span class="label col-2">
			<button class="delete" data-id="{{id}}" data-devoured="{{devoured}}">DELETE</button>
		</span>
	{{else}}
		<span class="label col-2">
			<button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">DEVOUR</button>
		</span>
	{{/if}}
</li>